/*KONAMI DOGE MUCH NICE CODEZ*/
$numberOfAnimations: 3;
$incrementAnimation: 0.8;

#konami{
  position: absolute;
  left:30%;
  top: 0;
  background-color: rgba(0,0,0,0);
  *{
    background-color: rgba(0,0,0,0);
  }
  h1{
    color: green;
    position: relative;
    left: 15%;
  }
  h2{
    color: deeppink;
    position: relative;
    left: 10%;
  }
  h3{
    color: blue;
    position: relative;
    left: 25%;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@mixin fadeInAnimation($tempo){
  -webkit-animation: fadein $tempo;
  -moz-animation: fadein $tempo;
  -ms-animation: fadein $tempo;
  -o-animation: fadein $tempo;
  animation: fadein $tempo;
}

@for $i from 0 through $numberOfAnimations {
  .animate-random-#{$i}{
    @include fadeInAnimation(((1+$i)*$incrementAnimation) * 1s);
  }
}