@import "util";
@import "konami";
@import "../bower_components/gess/src/gess";

$borderSize: 2px;
$colorLink: #3333DD;
$colorBackground: #FFF;
$colorText: #333;
$colorBgImagemHeader: #333;
$colorTitle: #fff;

*{
  font-family: 'inconsolatamedium', sans-serif;
}

html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: $colorText;
}

.header-principal{
  @include centraliza();
  color: $colorTitle;
  .fundo-imagem{
    img{
      width: 100%;
      background-color: $colorBgImagemHeader;
    }
    z-index: -1;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    left: 0;
    overflow: hidden;
    @media #{media_query('big')}{
      top: -20em;
      height: 30em;
    }

    @media #{media_query('medium')} {
      top: 0;
      height: 18em;
    }
    @media #{media_query('small')} {
      top: 0;
      height: 15em;
    }
  }
  padding-bottom: 2em;
  h1{
    margin:0;
    text-align: center;
    @media #{media_query('big')} {
      font-size: 4.5em;
    }
    @media #{media_query('medium')} {
      font-size: 2.5em;
    }
    @media #{media_query('small')}{
      font-size: 2em;
    }
  }
  .servicos{
    @media #{media_query('big')} {
      text-align: center;
      h2{
        display: inline;
        font-size: 2em;
        padding-right: 1.5em;
        padding-left: 1.5em;
      }
    }
    h2{
      @media #{media_query('medium')}{
        font-size: 1.5em;
        padding-left: 1em;
      }
      @media #{media_query('small')}{
        font-size: 1.5em;
        padding-left: 0.5em;
      }
    }
  }
}
a, a:visited{
  color: $colorLink;
}

.conteudo{
  @media#{media_query('medium')}{
    padding-top: 1em;
  }
  h3{
    padding-left: 1em;
    @media #{media_query('big')} {
      font-size: 2em;
    }
    @media #{media_query('medium')} {
      font-size: 1.3em;
    }
  }
  @include centralizaHorizontal();
  @media #{media_query('big')} {
    width: 80%;
  }
  @media #{media_query('medium')}, #{media_query('small')} {
    width: 100%;
  }
  margin-bottom: 2em;
  .projetos {
    width: 100%;
    text-align: center;
    .projeto-protocolo {
      background-color: #21366B;
      color: #FFF;
      font-family: Arial, sans-serif;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      h2 {
        font-size: 1.3em;
      }
      h3 {
        font-size: 0.8em;
      }
    }
    .projeto {
      vertical-align: middle;
      margin-bottom: 2em;
      @media #{media_query('big')}, #{media_query('medium')}{
        .link{
          opacity: 0;
          margin: 0.2em;
        }
      }
      @media #{media_query('big')}{
        width: 25%;
        padding: 0.5em;
        margin-left: 3em;
        display: inline-block;
      }
      @media #{media_query('medium')} {
        width: 40%;
        padding: 0.5em;
        display: inline-block;
      }
      @media #{media_query('small')} {
        width: 80%;
        @include centralizaHorizontal();
        .caption{
          padding-left: 2em;
        }
      }
      img {
        width: 90%;
        @media #{media_query('small')}{
          max-height: 12em;
          max-width: 12em;
        }
        pointer-events: none;
        @include centraliza();
      }
      .caption {
        margin: 0 auto;
        font-size: 1.2em;
        padding-top: 2em;
        height: 2em;
      }
    }
    .projeto:hover {
      @media #{media_query('big')}{
        .link{
          @include fadeIn(0.5s);
        }
      }
      @media #{media_query('medium')}, #{media_query('small')} {
        @include disableSelection();
      }
    }
  }
}

footer {
  border-top: $colorText solid 1px;
  @include centraliza();
  padding-top: 1em;
  padding-bottom: 1em;
  @media #{media_query('big')}{
    width: 90%;
  }
  ul {
    list-style: none;
    @include gess(33%, 'big');
    li{
      text-align: center;
    }
  }
}