@mixin centralizaHorizontal(){
  margin-left: auto;
  margin-right: auto;
}


@mixin fadeIn($tempo){
  -webkit-transition: opacity $tempo ease-in;
  -moz-transition: opacity $tempo ease-in;
  -ms-transition: opacity $tempo ease-in;
  -o-transition: opacity $tempo ease-in;
  transition: opacity $tempo ease-in;
  opacity: 1;
}

@mixin disableSelection(){
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin centraliza(){
  margin: 0 auto;
}