@mixin text-3d() {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}

@mixin font-size($size) {
  font-size: $size;

  @include breakpoint($tablet) {
    font-size: $size * 1.25;
  }

  @include breakpoint($desktop) {
    font-size: $size * 1.5;
  }
}
