$content-margin: 1em;
$not-phone: 530px;
$tablet: 530px 930px;
$desktop: 930px;
$header-height: 5em;
$max-width: 1360px;
$grid-gap: 1em;

$color-pink: #ff71ce;
$color-blue: #01cdfe;
$color-green: #05ffa1;
$color-purple: #b967ff;
$color-yellow: #fffb96;
$color-grey: #1d1d1d;
$color-white: #fff;

$themes: (
  default: (
    color-link: $color-blue,
    color-link-visited: darken($color-purple, 10%),
    color-link-hover: $color-white,
    bg: $color-white,
    color-main-text: $color-grey,
    color-main-code: darken($color-grey, 10%),
    color-inline-code: darken($color-pink, 15%),
    bg-code: darken($color-white, 10%),
  ),
  dark: (
    color-link: $color-blue,
    color-link-visited: $color-purple,
    color-link-hover: $color-grey,
    bg: $color-grey,
    color-main-text: $color-white,
    color-main-code: darken($color-white, 10%),
    color-inline-code: darken($color-green, 10%),
    bg-code: darken($color-grey, 10%),
  ),
);
