@font-face {
  font-family: 'Veleka';
  src: url('/assets/fonts/Veleka-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Veleka';
  src: url('/assets/fonts/Veleka-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Veleka';
  src: url('/assets/fonts/Veleka-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Veleka';
  src: url('/assets/fonts/Veleka-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
