$content-margin: 1em;
$not-phone: 480px;
$tablet: 480px 720px;
$desktop: 720px;
$header-height: 5em;

$color-pink: #ff71ce;
$color-blue: #01cdfe;
$color-green: #05ffa1;
$color-purple: #b967ff;
$color-yellow: #fffb96;
$color-grey: #1d1d1d;
