@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

.main-header {
  font-family: 'Fira Code', monospace;
  background:
    linear-gradient(
      darken($color-pink, 5%) -20%,
      darken($color-blue, 5%) 120%
    );
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #fff;
    text-shadow: -0.06em 0 red, 0.06em 0 cyan;
  }

  h1 {
    font-weight: bold;
    font-size: 27px;
    margin: 0;
    text-align: center;
  }

  @include breakpoint($not-phone) {
    h1 {
      font-size: 32px;
    }
  }
}
