.main-header {
  font-family: 'Fira Code', monospace;
  background:
    linear-gradient(
      darken($color-pink, 5%) -20%,
      darken($color-blue, 5%) 120%
    );
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #fff;
    @include text-3d();

    &:hover {
      background: none;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 1.7em;
    margin: 0;
    text-align: center;
  }
}

.social-nav {
  font-family: 'Fira Code', monospace;
  font-size: 0.8em;
  margin-top: 1em;

  @include breakpoint($not-phone) {
    font-size: 1em;
  }

  ul {
    margin: 1em auto 0;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    max-width: $desktop;
  }

  li {
    display: flex;
    align-items: center;
  }
}
