@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

.main-header {
  font-family: 'Fira Code', monospace;

  h1 {
    font-weight: bold;
    font-size: 27px;
    margin: 0;
    text-align: center;
  }

  @include breakpoint($not-phone) {
    h1 {
      font-size: 32px;
    }
  }
}
