.post-list {
  .date {
    font-style: italic;

    @include text-3d();
  }

  img {
    min-width: 90%;
    max-height: 15em;
    @include breakpoint($tablet) {
      max-height: 15em;
    }
    object-fit: cover;
  }

  a,
  a:visited {
    color: $color-blue;
  }
}
