
.post-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;

  li {
    width: 100%;
    padding: $grid-gap / 2;

    @include breakpoint($tablet) {
      width: calc(50% - #{$grid-gap});
    }

    @include breakpoint($desktop) {
      width: calc(33% - #{$grid-gap});
    }
  }

  .date {
    font-style: italic;

    @include text-3d();
  }

  img {
    width: 100%;
    max-height: 15em;
    object-fit: cover;
  }

  a,
  a:visited {
    color: $color-blue;
    &:hover {
      background: none;
    }
  }
}
