---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "general/fonts";
@import "partials/vars";
@import "partials/theme";
@import "partials/mixins";

html,
body {
  font-family: 'Merriweather', Times, sans-serif;
  @include font-size(16px);
  @include themed() {
    color: theme-prop('color-main-text');
    background: theme-prop('bg');
  }

  &,
  * {
    box-sizing: border-box;
  }
}

@import "general/links";
@import "general/content";
@import "general/header";
@import "general/code";
@import "general/night-mode";
@import "pages/home";
@import "pages/post";
@import "general/comments";
@import "general/footer";
