---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "fonts";
@import "vars";
@import "mixins";

html,
body {
  font-family: 'Veleka', Times, sans-serif;
  color: $color-grey;
  font-size: 16px;
  @include breakpoint($not-phone) {
    font-size: 20px;
  }
}

.main-content,
.main-footer {
  margin: $content-margin;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  color: $color-blue;
}

a:visited {
  color: $color-purple;
}

@import "header";
@import "home";
@import "footer";
