.post {
  margin: 0 auto;
  line-height: 1.6;

  iframe {
    width: 100%;
    max-width: $desktop;
  }

  .post-meta {
    display: flex;
    align-items: center;
  }

  .date {
    font-style: italic;
    font-family: 'Fira Code', monospace;
    font-size: 1.2em;

    @include text-3d();
  }

  .post-title {
    font-size: 2em;
    font-weight: bold;
  }

  .center-elem {
    display: block;
    margin: 0 auto;
    text-align: center;

    p {
      display: inline;
    }
  }

  .img-fit {
    &,
    img {
      max-height: 25em;
      object-fit: cover;
    }
  }

  blockquote {
    font-size: 0.9em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0;
    font-weight: bold;
  }
}

.post-img-header {
  margin: 0 auto;
  display: block;
  max-height: 30vh;
  object-fit: cover;
  &.full-width {
    width: 100%;
  }
}

.reading-time {
  font-family: 'Fira Code', monospace;
  display: inline-flex;
  align-items: center;
  @include text-3d();

  svg {
    height: 2em;
  }
}

.twitter-tweet {
  width: unset !important; // prevent tweet embeded from breaking layout and side scrolling
  display: flex !important; // force center
  align-self: center;
  justify-content: center;
}
