---
layout: default
---
<ul class="post-list">
    {%- for post in paginator.posts -%}
    <li>
      <span class="date">
        {% include date.html date=post.date %}
      </span>
      {%- if post.image -%}
        {% assign alt_descrpition = post.altimg | default: post.description %}
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}" alt="{{ alt_descrpition }}">
        </a>
      {%- else -%}
        <a href="{{ post.url | relative_url }}">
          <img src="{{ 'assets/img/not-found.jpg' | relative_url }}" alt="pessoa bloqueada do episódio white christmas de black mirror">
          </a>
      {%- endif -%}
      <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </h3>
      {%- if site.show_excerpts -%}
          <p>{{ post.description }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">Next</a>
  {% else %}
    <span class="next">Next</span>
  {% endif %}
</div>

{{ content }}
