---
layout: default
---
<ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <span class="date">
        {% include date.html date=post.date %}
      </span>
      {%- if post.img %}
        {% assign alt_descrpition = post.altimg || post.description%}
        <img src="{{ site.url }}/{{ post.img }}" alt="{{ alt_descrpition }}">
      {%- else -%}
        <img src="{{ 'assets/img/not-found.jpg' | relative_url }}" alt="pessoa bloqueada do episódio white christmas de black mirror">
      {%- endif -%}
      <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </h3>
      {%- if site.show_excerpts -%}
          <p>{{ post.description }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
</ul>
<p class="feed-subscribe"><svg class="svg-icon orange">
    <use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
</svg><a href="{{ '/feed.xml' | relative_url }}">Subscribe</a></p>

{{ content }}
