---
layout: default
---
<ul class="post-list">
    {%- for post in site.posts -%}
    <li>
      <span class="date">
        {% include date.html date=post.date %}
      </span>
      {%- if post.image -%}
        {% assign alt_descrpition = post.altimg or post.description %}
        <a href="{{ post.url | relative_url }}">
          <img src="{{ site.url }}/{{ post.image }}" alt="{{ alt_descrpition }}">
        </a>
      {%- else -%}
        <a href="{{ post.url | relative_url }}">
          <img src="{{ 'assets/img/not-found.jpg' | relative_url }}" alt="pessoa bloqueada do episódio white christmas de black mirror">
          </a>
      {%- endif -%}
      <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
      </h3>
      {%- if site.show_excerpts -%}
          <p>{{ post.description }}</p>
      {%- endif -%}
    </li>
    {%- endfor -%}
</ul>

{{ content }}
