.highlighter-rouge {
  @include themed() {
    color: theme-prop('color-inline-code');
    background: theme-prop('bg-code');
  }
}

.highlight,
.highlighter-rouge pre,
code {
  font-family: 'Fira Code', monospace;

  @include font-size(12px);

  @include themed() {
    color: theme-prop('color-main-code');
    background: theme-prop('bg-code');
  }
}

.theme--dark {
  @import "../partials/rouge-syntax-highlight-theme-dark";
}

.theme--default {
  // arquivo gerado com a gem
  // rougify style gruvbox.light > _assets/stylesheets/partials/_rouge-syntax-highlight-theme-default.scss
  @import "../partials/rouge-syntax-highlight-theme-default";
}
