.main-content,
.main-footer {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: $content-margin;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-weight: bold;
  }
}

.svg-icon {
  padding: 0;
  margin-right: 0.2em;
}